<h1>Heroes <small>Marvel y DC</small></h1>

<hr>


<div class="row">
    <div class="col-sm-5" *ngFor="let heroe of heroes; let i =index">
        <app-heroe-tarjeta [heroe]="heroe" [i]="i"></app-heroe-tarjeta>
    </div>
</div>


<!-- <div class="row">
    <div class="col-sm-6" *ngFor="let hereo of heroes; let i =index">
        <div class="card">
            <img class="card-img-top" [src]="hereo.img" alt="Card image cap">
            <div class="card-block">
                <h5 class="card-title">{{hereo.nombre}}</h5>
                <p class="card-text">{{hereo.bio}}</p>

            </div>
            <button (click)=" verHeroe(i)" class="btn btn-outline-primary">
                ver mas..
            </button>
        </div>
    </div>

</div> -->